params {
  known_indels = [
    's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz',
    's3://ngi-igenomes/igenomes/Homo_sapiens/GATK/GRCh38/Annotation/GATKBundle/beta/Homo_sapiens_assembly38.known_indels.vcf.gz'
  ]
}

process {
    withLabel: 'process_single' {
        cpus = 2
        memory = '12 GB'
    }
	withName: 'BWA_MEM' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40_1bd8542a8a0b42e0981337910954371d0230828e-0'
	}
	withName: 'BWAMEM2_MEM' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mulled-v2-e5d375990341c5aef3c9aff74f96f66f65375ef6_2d15960ccea84e249a150b7f5d4db3a42fc2d6c3-0'
	}
	withName: 'DEEPVARIANT_RUNDEEPVARIANT' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:deepvariant_1.6.1'
	}
	withName: 'DRAGMAP_ALIGN' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mulled-v2-580d344d9d4a496cd403932da8765f9e0187774d_df80ed8d23d0a2c43181a2b3dd1b39f2d00fab5c-0'
	}
	withName: 'DRAGMAP_HASHTABLE' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:dragmap_1.2.1'
	}
	withName: 'GATK4_GENOTYPEGVCFS' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4SPARK_MARKDUPLICATES' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4-spark_4.5.0.0'
	}
	withName: 'LOFREQ_CALLPARALLEL' {
		queue='cloudgenomics-job-queue-no-spot'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:lofreq_2.1.5'
	}
	withName: 'BCFTOOLS_ANNOTATE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:bcftools_1.20'
	}
	withName: 'CAT_CAT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:pigz_2.3.4'
	}
	withName: 'CNVKIT_ANTITARGET' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:cnvkit_0.9.11'
	}
	withName: 'CNVKIT_BATCH' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mulled-v2-780d630a9bb6a0ff2e7b6f730906fd703e40e98f_c94363856059151a2974dc501fb07a0360cc60a3-0'
	}
	withName: 'CNVKIT_GENEMETRICS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:cnvkit_0.9.10'
	}
	withName: 'CNVKIT_REFERENCE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:cnvkit_0.9.11'
	}
	withName: 'CONTROLFREEC_ASSESSSIGNIFICANCE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:control-freec_11.6'
	}
	withName: 'CONTROLFREEC_FREEC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:control-freec_11.6b'
	}
	withName: 'CONTROLFREEC_FREEC2BED' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:control-freec_11.6b'
	}
	withName: 'CONTROLFREEC_FREEC2CIRCOS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:control-freec_11.6b'
	}
	withName: 'CONTROLFREEC_MAKEGRAPH2' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:control-freec_11.6b'
	}
	withName: 'FGBIO_FASTQTOBAM' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:fgbio_2.2.1'
	}
	withName: 'FGBIO_GROUPREADSBYUMI' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:fgbio_2.2.1'
	}
	withName: 'GATK4_APPLYBQSR' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_APPLYVQSR' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_BASERECALIBRATOR' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_CALCULATECONTAMINATION' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_CNNSCOREVARIANTS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:nf-core/gatk_4.5.0.0'
	}
	withName: 'GATK4_FILTERMUTECTCALLS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_FILTERVARIANTTRANCHES' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_GATHERPILEUPSUMMARIES' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_GETPILEUPSUMMARIES' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_INTERVALLISTTOBED' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_LEARNREADORIENTATIONMODEL' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_MERGEMUTECTSTATS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_VARIANTRECALIBRATOR' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4SPARK_APPLYBQSR' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4-spark_4.5.0.0'
	}
	withName: 'GATK4SPARK_BASERECALIBRATOR' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4-spark_4.5.0.0'
	}
	withName: 'MSISENSORPRO_MSISOMATIC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:msisensor-pro_1.2.0'
	}
	withName: 'MSISENSORPRO_SCAN' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:msisensor-pro_1.2.0'
	}
	withName: 'NGSCHECKMATE_NCM' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:ngscheckmate_1.0.1'
	}
	withName: 'SAMBLASTER' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mulled-v2-19fa9f1a5c3966b63a24166365e81da35738c5ab_60ebac4ad9c6530c0d7bf6844f52ec6916e1e0b1-0'
	}
	withName: 'SAMTOOLS_BAM2FQ' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'SAMTOOLS_COLLATEFASTQ' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'SAMTOOLS_CONVERT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'SAMTOOLS_INDEX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'SAMTOOLS_MERGE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'SAMTOOLS_REINDEX_BAM' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.20'
	}
	withName: 'SAMTOOLS_VIEW' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'ASCAT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mulled-v2-c278c7398beb73294d78639a864352abef2931ce_ba3e6d2157eac2d38d22e62ec87675e12adb1010-0'
	}
	withName: 'BCFTOOLS_CONCAT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:bcftools_1.20'
	}
	withName: 'BCFTOOLS_MPILEUP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:bcftools_1.20'
	}
	withName: 'BCFTOOLS_SORT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:bcftools_1.20'
	}
	withName: 'ENSEMBLVEP_DOWNLOAD' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:ensembl-vep_113.0'
	}
	withName: 'ENSEMBLVEP_VEP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:ensembl-vep_113.0'
	}
	withName: 'FASTP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:fastp_0.23.4'
	}
	withName: 'FASTQC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:fastqc_0.12.1'
	}
	withName: 'FGBIO_CALLMOLECULARCONSENSUSREADS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:fgbio_2.2.1'
	}
	withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_ESTIMATELIBRARYCOMPLEXITY' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_GATHERBQSRREPORTS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_GENOMICSDBIMPORT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_HAPLOTYPECALLER' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_MARKDUPLICATES' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mulled-v2-d9e7bad0f7fbc8f4458d5c3ab7ffaaf0235b59fb_7cc3d06cbf42e28c5e2ebfc7c858654c7340a9d5-0'
	}
	withName: 'GATK4_MERGEVCFS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'GATK4_MUTECT2' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gatk4_4.5.0.0'
	}
	withName: 'MANTA_GERMLINE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:manta_1.6.0'
	}
	withName: 'MANTA_SOMATIC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:manta_1.6.0'
	}
	withName: 'MANTA_TUMORONLY' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:manta_1.6.0'
	}
	withName: 'MOSDEPTH' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mosdepth_0.3.8'
	}
	withName: 'SNPEFF_DOWNLOAD' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:snpeff_5.1'
	}
	withName: 'SNPEFF_SNPEFF' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:snpeff_5.1'
	}
	withName: 'SPRING_DECOMPRESS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:spring_1.1.1'
	}
	withName: 'STRELKA_GERMLINE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:strelka_2.9.10'
	}
	withName: 'STRELKA_SOMATIC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:strelka_2.9.10'
	}
	withName: 'SVDB_MERGE' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:mulled-v2-375a758a4ca8c128fb9d38047a68a9f4322d2acd_b3615e06ef17566f2988a215ce9e10808c1d08bf-0'
	}
	withName: 'TIDDIT_SV' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:tiddit_3.6.1'
	}
	withName: 'ADD_INFO_TO_VCF' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gawk_5.1.0'
	}
	withName: 'BCFTOOLS_STATS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:bcftools_1.20'
	}
	withName: 'BWA_INDEX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:bwa_0.7.18'
	}
	withName: 'BWAMEM2_INDEX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:bwa-mem2_2.2.1'
	}
	withName: 'CAT_FASTQ' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:coreutils_9.5'
	}
	withName: 'CNVKIT_CALL' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:cnvkit_0.9.10'
	}
	withName: 'CNVKIT_EXPORT' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:cnvkit_0.9.10'
	}
	withName: 'CREATE_INTERVALS_BED' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gawk_5.1.0'
	}
	withName: 'FREEBAYES' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:freebayes_1.3.6'
	}
	withName: 'GAWK' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:gawk_5.3.0'
	}
	withName: 'GOLEFT_INDEXCOV' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:goleft_0.2.4'
	}
	withName: 'MULTIQC' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:multiqc_1.25.1'
	}
	withName: 'SAMTOOLS_FAIDX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'SAMTOOLS_MPILEUP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'SAMTOOLS_STATS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:samtools_1.21'
	}
	withName: 'TABIX_BGZIPTABIX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:htslib_1.20'
	}
	withName: 'TABIX_TABIX' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:htslib_1.20'
	}
	withName: 'UNTAR' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:ubuntu_22.04'
	}
	withName: 'UNZIP' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:p7zip_16.02'
	}
	withName: 'VCFTOOLS' {
		queue='cloudgenomics-job-queue-spot60perc'
		container='760411903124.dkr.ecr.us-east-1.amazonaws.com/nfcore-sarek-awscli:vcftools_0.1.16'
	}
}
